block head-meta
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")

block head-link
    link(rel="preconnect" href="https://fonts.gstatic.com")
    link(href="https://fonts.googleapis.com/css2?family=Lexendwght@400;500;700&display=swap" rel="stylesheet")
    link(rel="stylesheet", href="./style/normalize.min.css")
    link(rel="stylesheet", href="./style/styles.css")
block head-script
    script(src='./js/external/swiper-bundle.min.js')
    script(src='./js/app.js')
        
block head-title
    title Structure