  
include utils/index

doctype html
html
    head
        include head/head
    body
        include components/header
        main
            include sections/hero
            include sections/understanding
            include sections/structure
            include sections/no-touch
        include components/footer