.header {
    position: relative;
    z-index: 5;

    @include media(sm) {
        padding-top: 28px;
    }

    @include media(md-up) {
        padding-top: 38px;
        padding-bottom: 38px;
    }

    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__structure {
        font-weight: 700;
        font-size: 23px;
        letter-spacing: 0.02em;
    }

    &__login {
        font-weight: 500;
        transition: color 0.3s;

        &:hover {
            color: #b0dcff;
        }
    }
}
