.noise-box {
    display: flex;
    flex-direction: column;
    border-radius: 24px;
    padding: 1px;
    background: linear-gradient(
        105.27deg,
        #aa6ee5 0%,
        #caffff 20.31%,
        rgba(202, 255, 255, 0) 37.5%,
        rgba(253, 240, 116, 0) 68.75%,
        #fdf074 84.9%,
        #c1d8f8 100%
    );

    &__inner {
        width: 100%;
        flex-grow: 1;
        border-radius: inherit;
        background-image: url('../img/noise.png');
        background-color: #19181f;
    }
}
