.sbs-token-box {
    position: relative;

    @include media(sm) {
        &:not(:last-child) {
            margin-bottom: 121px;
        }
    }

    @include media(md) {
        &:nth-child(even) &__img {
            top: 50%;
            right: 0;
            transform: translate(50%, -50%);
        }

        &:nth-child(odd) &__img {
            top: 50%;
            left: 0;
            transform: translate(-50%, -50%);
        }

        &:nth-child(even) &__inner {
            padding-left: 40px;
            padding-right: 141px;
        }

        &:nth-child(odd) &__inner {
            padding-right: 40px;
            padding-left: 141px;
        }
    }

    @include media(md-lg) {
        height: 268px;
    }

    @include media(md-up) {
        &:not(:last-child) {
            margin-bottom: 40px;
        }
    }

    @include media(lg) {
        width: 629px;
    }

    @include media(lg-up) {
        &:nth-child(even) {
            align-self: flex-end;
        }
    }

    @include media(xl) {
        height: 246px;
        width: 772px;
    }

    &__inner {
        @include media(sm) {
            text-align: center;
            padding: 100px 20px;
        }

        @include media(md-up) {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        @include media(lg) {
            padding-left: 141px;
            padding-right: 40px;
        }

        @include media(xl) {
            padding-right: 56px;
            padding-left: 165px;
        }
    }

    &__title {
        font-size: 20px;
        line-height: 26px;
        font-weight: 700;
        color: #ffffff;
        margin: 0 0 12px;

        @include media(sm) {
            font-size: 24px;
            line-height: 34px;
        }
    }

    &__img {
        position: absolute;
        z-index: 1;
        filter: drop-shadow(0px 0px 80px rgba(255, 255, 255, 0.95));

        @include media(sm) {
            top: 0;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        @include media(md-down) {
            width: 162px;
        }

        @include media(lg-up) {
            top: 50%;
            left: 0;
            transform: translate(-50%, -50%);
        }

        @include media(lg-up) {
            width: 201px;
        }
    }

    &__descr {
        margin: 0;
    }
}
