.h2 {
    color: #ffffff;
    font-weight: 700;
    font-size: 26px;
    line-height: 32px;
    margin: 0 0 40px;
}

.h3 {
    color: #ffffff;
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;
    margin: 0 0 12px;
}
