.understanding-box {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 128px;
    border-radius: 24px;
    padding: 28px;
    background-color: rgba(255, 255, 255, 0.03);
    backdrop-filter: blur(100px);
    background-image: url('../img/sbs-card.png');
    background-repeat: no-repeat;
    background-size: cover;

    @include media(sm) {
        margin-bottom: 24px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    &__divider {
        display: none;

        @include media(md-up) {
            display: block;
            position: absolute;
            bottom: 50%;

            &--left {
                left: -35px;
            }

            &--right {
                right: -35px;
            }
        }
    }

    @include media(md-up) {
        width: 247px;

        &--1 {
            margin-right: 24px;
        }

        &--2 {
            margin-left: 24px;
        }

        &--3 {
            margin-top: 94px;
        }
    }

    &__title {
        margin: 0;
        font-size: 24px;
        line-height: 1.416;
        font-weight: 700;
        color: #ffffff;
        text-align: center;
    }
}
