.partners {
    padding-top: 80px;
    padding-bottom: 80px;

    @include media(xl) {
        padding-top: 120px;
        padding-bottom: 120px;
    }

    &__title {
        @include media(sm) {
            margin-bottom: 32px;
        }

        @include media(lg-up) {
            margin-bottom: 80px;
        }
    }

    &__brands {
        display: grid;
        grid-gap: 32px;

        @include media(sm) {
            grid-template-columns: repeat(2, 1fr);
        }

        @include media(md-lg) {
            grid-template-columns: repeat(3, 1fr);
        }

        @include media(xl) {
            padding-top: 40px;
            grid-template-columns: repeat(4, 1fr);
        }
    }

    &__logo {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__brand {
        @include media(sm) {
            height: 90px;

            svg {
                max-width: 120px;
                max-height: 60px;
            }
        }

        @include media(md-down) {
            height: 104px;

            svg {
                max-width: 131px;
                max-height: 65px;
            }
        }

        @include media(lg-up) {
            height: 145px;
        }
    }
}
