<svg width="55" height="55" viewBox="0 0 55 55" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M16.8185 23.1114L27.4999 12.43L38.1863 23.1161L44.4013 16.9011L27.4999 0L10.604 16.896L16.8187 23.111L16.8185 23.1114ZM0 27.5L6.2152 21.2839L12.43 27.4987L6.21476 33.7139L0 27.5ZM16.8185 31.8892L27.4999 42.57L38.1861 31.8842L44.4044 38.0959L44.4013 38.0992L27.4999 55L10.604 38.104L10.5952 38.0952L16.8192 31.8886L16.8185 31.8892ZM42.5698 27.5026L48.785 21.2874L54.9998 27.5022L48.7848 33.7174L42.5698 27.5026Z" fill="url(#binance)"/>
    <path d="M33.8033 27.4965H33.8059L27.4999 21.19L22.8387 25.8498L22.3033 26.3855L21.1989 27.4901L21.1901 27.4987L21.1989 27.5077L27.4999 33.8096L33.8063 27.5031L33.8094 27.4996L33.8033 27.4965Z" fill="url(#binance)"/>
    <defs>
        <radialGradient id="binance" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(-5.69736e-06 27.9998) scale(61 7608.18)">
            <stop stop-color="white"/>
            <stop offset="0.406984" stop-color="#FDF074"/>
            <stop offset="0.804942" stop-color="#FF966B"/>
        </radialGradient>
        <radialGradient id="binance" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(2 27.0001) rotate(0.858445) scale(41.4993 5176.06)">
            <stop stop-color="white"/>
            <stop offset="0.597922" stop-color="#FDF074"/>
            <stop offset="1" stop-color="#FF966B"/>
        </radialGradient>
    </defs>
</svg>
