<svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
    <g clip-path="url(#clip0)">
        <path d="M7.53125 19.9219C7.53125 13.0979 13.2385 7.53125 20.0781 7.53125C26.9099 7.53125 32.4688 13.0901 32.4688 19.9219C32.4688 26.7615 26.9021 32.4688 20.0781 32.4688C13.2464 32.4688 7.53125 26.7536 7.53125 19.9219ZM21.75 26.9531V26.2812H22.4219C25.7109 26.2812 27.589 22.5334 25.6677 19.9219C27.589 17.3104 25.7109 13.5625 22.4219 13.5625H21.75V12.8906C21.75 12.3658 21.5466 11.9363 21.2141 11.6437C20.8912 11.3595 20.4757 11.2291 20.0774 11.2297C19.6792 11.2302 19.2643 11.3617 18.9419 11.6456C18.6101 11.938 18.4062 12.3668 18.4062 12.8906V13.5625H15.3906C14.8658 13.5625 14.4363 13.7659 14.1437 14.0984C13.8595 14.4213 13.7291 14.8368 13.7297 15.2351C13.7302 15.6333 13.8617 16.0482 14.1456 16.3706C14.438 16.7024 14.8668 16.9062 15.3906 16.9062H16.0625V22.9375H15.3906C14.8658 22.9375 14.4363 23.1409 14.1437 23.4734C13.8595 23.7963 13.7291 24.2118 13.7297 24.6101C13.7302 25.0083 13.8617 25.4232 14.1456 25.7456C14.438 26.0774 14.8668 26.2812 15.3906 26.2812H18.4062V26.9531C18.4062 27.4779 18.6096 27.9074 18.9421 28.2001C19.265 28.4843 19.6805 28.6146 20.0788 28.6141C20.477 28.6135 20.892 28.4821 21.2143 28.1981C21.5462 27.9057 21.75 27.4769 21.75 26.9531Z" fill="white" fill-opacity="0.4" />
        <path d="M7.53125 19.9219C7.53125 13.0979 13.2385 7.53125 20.0781 7.53125C26.9099 7.53125 32.4688 13.0901 32.4688 19.9219C32.4688 26.7615 26.9021 32.4688 20.0781 32.4688C13.2464 32.4688 7.53125 26.7536 7.53125 19.9219ZM21.75 26.9531V26.2812H22.4219C25.7109 26.2812 27.589 22.5334 25.6677 19.9219C27.589 17.3104 25.7109 13.5625 22.4219 13.5625H21.75V12.8906C21.75 12.3658 21.5466 11.9363 21.2141 11.6437C20.8912 11.3595 20.4757 11.2291 20.0774 11.2297C19.6792 11.2302 19.2643 11.3617 18.9419 11.6456C18.6101 11.938 18.4062 12.3668 18.4062 12.8906V13.5625H15.3906C14.8658 13.5625 14.4363 13.7659 14.1437 14.0984C13.8595 14.4213 13.7291 14.8368 13.7297 15.2351C13.7302 15.6333 13.8617 16.0482 14.1456 16.3706C14.438 16.7024 14.8668 16.9062 15.3906 16.9062H16.0625V22.9375H15.3906C14.8658 22.9375 14.4363 23.1409 14.1437 23.4734C13.8595 23.7963 13.7291 24.2118 13.7297 24.6101C13.7302 25.0083 13.8617 25.4232 14.1456 25.7456C14.438 26.0774 14.8668 26.2812 15.3906 26.2812H18.4062V26.9531C18.4062 27.4779 18.6096 27.9074 18.9421 28.2001C19.265 28.4843 19.6805 28.6146 20.0788 28.6141C20.477 28.6135 20.892 28.4821 21.2143 28.1981C21.5462 27.9057 21.75 27.4769 21.75 26.9531Z" stroke="url(#bitcoin0_radial)" />
        <path d="M7.53125 19.9219C7.53125 13.0979 13.2385 7.53125 20.0781 7.53125C26.9099 7.53125 32.4688 13.0901 32.4688 19.9219C32.4688 26.7615 26.9021 32.4688 20.0781 32.4688C13.2464 32.4688 7.53125 26.7536 7.53125 19.9219ZM21.75 26.9531V26.2812H22.4219C25.7109 26.2812 27.589 22.5334 25.6677 19.9219C27.589 17.3104 25.7109 13.5625 22.4219 13.5625H21.75V12.8906C21.75 12.3658 21.5466 11.9363 21.2141 11.6437C20.8912 11.3595 20.4757 11.2291 20.0774 11.2297C19.6792 11.2302 19.2643 11.3617 18.9419 11.6456C18.6101 11.938 18.4062 12.3668 18.4062 12.8906V13.5625H15.3906C14.8658 13.5625 14.4363 13.7659 14.1437 14.0984C13.8595 14.4213 13.7291 14.8368 13.7297 15.2351C13.7302 15.6333 13.8617 16.0482 14.1456 16.3706C14.438 16.7024 14.8668 16.9062 15.3906 16.9062H16.0625V22.9375H15.3906C14.8658 22.9375 14.4363 23.1409 14.1437 23.4734C13.8595 23.7963 13.7291 24.2118 13.7297 24.6101C13.7302 25.0083 13.8617 25.4232 14.1456 25.7456C14.438 26.0774 14.8668 26.2812 15.3906 26.2812H18.4062V26.9531C18.4062 27.4779 18.6096 27.9074 18.9421 28.2001C19.265 28.4843 19.6805 28.6146 20.0788 28.6141C20.477 28.6135 20.892 28.4821 21.2143 28.1981C21.5462 27.9057 21.75 27.4769 21.75 26.9531Z" stroke="url(#bitcoin1_radial)" />
        <path d="M19.4062 22.9375V21.5938H22.4219C22.6719 21.5938 22.8235 21.6832 22.9181 21.7905C23.0211 21.9074 23.0837 22.078 23.0837 22.2656C23.0837 22.4532 23.0211 22.6239 22.9181 22.7407C22.8235 22.848 22.6719 22.9375 22.4219 22.9375H19.4062Z" fill="white" fill-opacity="0.4" />
        <path d="M19.4062 22.9375V21.5938H22.4219C22.6719 21.5938 22.8235 21.6832 22.9181 21.7905C23.0211 21.9074 23.0837 22.078 23.0837 22.2656C23.0837 22.4532 23.0211 22.6239 22.9181 22.7407C22.8235 22.848 22.6719 22.9375 22.4219 22.9375H19.4062Z" stroke="url(#bitcoin2_radial)" />
        <path d="M19.4062 22.9375V21.5938H22.4219C22.6719 21.5938 22.8235 21.6832 22.9181 21.7905C23.0211 21.9074 23.0837 22.078 23.0837 22.2656C23.0837 22.4532 23.0211 22.6239 22.9181 22.7407C22.8235 22.848 22.6719 22.9375 22.4219 22.9375H19.4062Z" stroke="url(#bitcoin3_radial)" />
        <path d="M19.4062 18.25V16.9062H22.4219C22.6719 16.9062 22.8235 16.9957 22.9181 17.103C23.0211 17.2199 23.0837 17.3905 23.0837 17.5781C23.0837 17.7657 23.0211 17.9364 22.9181 18.0532C22.8235 18.1605 22.6719 18.25 22.4219 18.25H19.4062Z" fill="white" fill-opacity="0.4" />
        <path d="M19.4062 18.25V16.9062H22.4219C22.6719 16.9062 22.8235 16.9957 22.9181 17.103C23.0211 17.2199 23.0837 17.3905 23.0837 17.5781C23.0837 17.7657 23.0211 17.9364 22.9181 18.0532C22.8235 18.1605 22.6719 18.25 22.4219 18.25H19.4062Z" stroke="url(#bitcoin4_radial)" />
        <path d="M19.4062 18.25V16.9062H22.4219C22.6719 16.9062 22.8235 16.9957 22.9181 17.103C23.0211 17.2199 23.0837 17.3905 23.0837 17.5781C23.0837 17.7657 23.0211 17.9364 22.9181 18.0532C22.8235 18.1605 22.6719 18.25 22.4219 18.25H19.4062Z" stroke="url(#bitcoin5_radial)" />
        <path d="M2.84375 8.20312C2.84375 6.54067 4.19692 5.1875 5.85938 5.1875C7.52183 5.1875 8.875 6.54067 8.875 8.20312C8.875 9.86558 7.52183 11.2188 5.85938 11.2188C4.19692 11.2188 2.84375 9.86558 2.84375 8.20312Z" fill="white" fill-opacity="0.4" />
        <path d="M2.84375 8.20312C2.84375 6.54067 4.19692 5.1875 5.85938 5.1875C7.52183 5.1875 8.875 6.54067 8.875 8.20312C8.875 9.86558 7.52183 11.2188 5.85938 11.2188C4.19692 11.2188 2.84375 9.86558 2.84375 8.20312Z" stroke="url(#bitcoin6_radial)" />
        <path d="M2.84375 8.20312C2.84375 6.54067 4.19692 5.1875 5.85938 5.1875C7.52183 5.1875 8.875 6.54067 8.875 8.20312C8.875 9.86558 7.52183 11.2188 5.85938 11.2188C4.19692 11.2188 2.84375 9.86558 2.84375 8.20312Z" stroke="url(#bitcoin7_radial)" />
        <path d="M9.9131 3.31904C12.9282 1.4983 16.5019 0.5 20.0782 0.5C30.7872 0.5 39.5001 9.21286 39.5001 19.9219C39.5001 22.2924 39.0539 24.7369 38.2177 26.9359C37.8654 26.6359 37.4801 26.3717 37.0644 26.1532C37.7735 24.1996 38.172 22.0174 38.172 19.9219C38.172 9.95261 30.0475 1.82812 20.0782 1.82812C16.8574 1.82812 13.6273 2.7334 10.8887 4.32586C10.6013 3.95474 10.2737 3.61755 9.9131 3.31904Z" fill="white" fill-opacity="0.4" />
        <path d="M9.9131 3.31904C12.9282 1.4983 16.5019 0.5 20.0782 0.5C30.7872 0.5 39.5001 9.21286 39.5001 19.9219C39.5001 22.2924 39.0539 24.7369 38.2177 26.9359C37.8654 26.6359 37.4801 26.3717 37.0644 26.1532C37.7735 24.1996 38.172 22.0174 38.172 19.9219C38.172 9.95261 30.0475 1.82812 20.0782 1.82812C16.8574 1.82812 13.6273 2.7334 10.8887 4.32586C10.6013 3.95474 10.2737 3.61755 9.9131 3.31904Z" stroke="url(#bitcoin8_radial)" />
        <path d="M9.9131 3.31904C12.9282 1.4983 16.5019 0.5 20.0782 0.5C30.7872 0.5 39.5001 9.21286 39.5001 19.9219C39.5001 22.2924 39.0539 24.7369 38.2177 26.9359C37.8654 26.6359 37.4801 26.3717 37.0644 26.1532C37.7735 24.1996 38.172 22.0174 38.172 19.9219C38.172 9.95261 30.0475 1.82812 20.0782 1.82812C16.8574 1.82812 13.6273 2.7334 10.8887 4.32586C10.6013 3.95474 10.2737 3.61755 9.9131 3.31904Z" stroke="url(#bitcoin9_radial)" />
        <path d="M20.0781 38.172C23.3028 38.172 26.3903 37.2647 29.1117 35.6747C29.3993 36.0459 29.727 36.3832 30.0878 36.6817C27.0875 38.5039 23.6505 39.5001 20.0781 39.5001C9.36402 39.5001 0.5 30.7822 0.5 20.0782C0.5 17.7078 0.946234 15.2632 1.78244 13.0642C2.13459 13.3641 2.51971 13.6282 2.93518 13.8465C2.22794 15.7769 1.82812 17.8234 1.82812 19.922C1.82812 29.8913 10.1089 38.172 20.0781 38.172Z" fill="white" fill-opacity="0.4" />
        <path d="M20.0781 38.172C23.3028 38.172 26.3903 37.2647 29.1117 35.6747C29.3993 36.0459 29.727 36.3832 30.0878 36.6817C27.0875 38.5039 23.6505 39.5001 20.0781 39.5001C9.36402 39.5001 0.5 30.7822 0.5 20.0782C0.5 17.7078 0.946234 15.2632 1.78244 13.0642C2.13459 13.3641 2.51971 13.6282 2.93518 13.8465C2.22794 15.7769 1.82812 17.8234 1.82812 19.922C1.82812 29.8913 10.1089 38.172 20.0781 38.172Z" stroke="url(#bitcoin10_radial)" />
        <path d="M20.0781 38.172C23.3028 38.172 26.3903 37.2647 29.1117 35.6747C29.3993 36.0459 29.727 36.3832 30.0878 36.6817C27.0875 38.5039 23.6505 39.5001 20.0781 39.5001C9.36402 39.5001 0.5 30.7822 0.5 20.0782C0.5 17.7078 0.946234 15.2632 1.78244 13.0642C2.13459 13.3641 2.51971 13.6282 2.93518 13.8465C2.22794 15.7769 1.82812 17.8234 1.82812 19.922C1.82812 29.8913 10.1089 38.172 20.0781 38.172Z" stroke="url(#bitcoin11_radial)" />
        <path d="M31.125 31.7969C31.125 30.1344 32.4782 28.7812 34.1406 28.7812C35.8031 28.7812 37.1562 30.1344 37.1562 31.7969C37.1562 33.4593 35.8031 34.8125 34.1406 34.8125C32.4782 34.8125 31.125 33.4593 31.125 31.7969Z" fill="white" fill-opacity="0.4" />
        <path d="M31.125 31.7969C31.125 30.1344 32.4782 28.7812 34.1406 28.7812C35.8031 28.7812 37.1562 30.1344 37.1562 31.7969C37.1562 33.4593 35.8031 34.8125 34.1406 34.8125C32.4782 34.8125 31.125 33.4593 31.125 31.7969Z" stroke="url(#bitcoin12_radial)" />
        <path d="M31.125 31.7969C31.125 30.1344 32.4782 28.7812 34.1406 28.7812C35.8031 28.7812 37.1562 30.1344 37.1562 31.7969C37.1562 33.4593 35.8031 34.8125 34.1406 34.8125C32.4782 34.8125 31.125 33.4593 31.125 31.7969Z" stroke="url(#bitcoin13_radial)" />
    </g>
    <defs>
        <radialGradient id="bitcoin0_radial" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(4.95087 14.0924) rotate(58.8197) scale(20.6744 1111.14)">
            <stop stop-color="#AA6EE5" />
            <stop offset="0.171998" stop-color="#CAFFFF" />
            <stop offset="0.689549" stop-color="#FDF074" stop-opacity="0" />
        </radialGradient>
        <radialGradient id="bitcoin1_radial" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(34.2102 33.9826) rotate(-128.063) scale(17.7151 1140.15)">
            <stop stop-color="#AA6EE5" />
            <stop offset="0.171998" stop-color="#CAFFFF" />
            <stop offset="0.689549" stop-color="#FDF074" stop-opacity="0" />
        </radialGradient>
        <radialGradient id="bitcoin2_radial" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(18.5311 21.7318) rotate(39.6254) scale(2.50609 149.371)">
            <stop stop-color="#AA6EE5" />
            <stop offset="0.171998" stop-color="#CAFFFF" />
            <stop offset="0.689549" stop-color="#FDF074" stop-opacity="0" />
        </radialGradient>
        <radialGradient id="bitcoin3_radial" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(23.8076 23.5291) rotate(-147.385) scale(2.33832 140.755)">
            <stop stop-color="#AA6EE5" />
            <stop offset="0.171998" stop-color="#CAFFFF" />
            <stop offset="0.689549" stop-color="#FDF074" stop-opacity="0" />
        </radialGradient>
        <radialGradient id="bitcoin4_radial" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(18.5311 17.0443) rotate(39.6254) scale(2.50609 149.371)">
            <stop stop-color="#AA6EE5" />
            <stop offset="0.171998" stop-color="#CAFFFF" />
            <stop offset="0.689549" stop-color="#FDF074" stop-opacity="0" />
        </radialGradient>
        <radialGradient id="bitcoin5_radial" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(23.8076 18.8416) rotate(-147.385) scale(2.33832 140.755)">
            <stop stop-color="#AA6EE5" />
            <stop offset="0.171998" stop-color="#CAFFFF" />
            <stop offset="0.689549" stop-color="#FDF074" stop-opacity="0" />
        </radialGradient>
        <radialGradient id="bitcoin6_radial" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(1.77979 6.60168) rotate(58.8197) scale(5.60451 301.212)">
            <stop stop-color="#AA6EE5" />
            <stop offset="0.171998" stop-color="#CAFFFF" />
            <stop offset="0.689549" stop-color="#FDF074" stop-opacity="0" />
        </radialGradient>
        <radialGradient id="bitcoin7_radial" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(9.71155 11.9936) rotate(-128.063) scale(4.80228 309.077)">
            <stop stop-color="#AA6EE5" />
            <stop offset="0.171998" stop-color="#CAFFFF" />
            <stop offset="0.689549" stop-color="#FDF074" stop-opacity="0" />
        </radialGradient>
        <radialGradient id="bitcoin8_radial" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(6.54151 7.56981) rotate(56.0157) scale(22.8679 1286.04)">
            <stop stop-color="#AA6EE5" />
            <stop offset="0.171998" stop-color="#CAFFFF" />
            <stop offset="0.689549" stop-color="#FDF074" stop-opacity="0" />
        </radialGradient>
        <radialGradient id="bitcoin9_radial" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(41.4827 28.8927) rotate(-131.098) scale(19.8415 1303.2)">
            <stop stop-color="#AA6EE5" />
            <stop offset="0.171998" stop-color="#CAFFFF" />
            <stop offset="0.689549" stop-color="#FDF074" stop-opacity="0" />
        </radialGradient>
        <radialGradient id="bitcoin10_radial" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(-2.48437 19.7641) rotate(56.0157) scale(22.8679 1286.04)">
            <stop stop-color="#AA6EE5" />
            <stop offset="0.171998" stop-color="#CAFFFF" />
            <stop offset="0.689549" stop-color="#FDF074" stop-opacity="0" />
        </radialGradient>
        <radialGradient id="bitcoin11_radial" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(32.4568 41.087) rotate(-131.098) scale(19.8415 1303.2)">
            <stop stop-color="#AA6EE5" />
            <stop offset="0.171998" stop-color="#CAFFFF" />
            <stop offset="0.689549" stop-color="#FDF074" stop-opacity="0" />
        </radialGradient>
        <radialGradient id="bitcoin12_radial" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(30.061 30.1954) rotate(58.8197) scale(5.60451 301.212)">
            <stop stop-color="#AA6EE5" />
            <stop offset="0.171998" stop-color="#CAFFFF" />
            <stop offset="0.689549" stop-color="#FDF074" stop-opacity="0" />
        </radialGradient>
        <radialGradient id="bitcoin13_radial" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(37.9928 35.5873) rotate(-128.063) scale(4.80228 309.077)">
            <stop stop-color="#AA6EE5" />
            <stop offset="0.171998" stop-color="#CAFFFF" />
            <stop offset="0.689549" stop-color="#FDF074" stop-opacity="0" />
        </radialGradient>
        <clipPath id="clip0">
            <rect width="40" height="40" fill="white" />
        </clipPath>
    </defs>
</svg>
    