<svg width="64" height="64" viewBox="0 0 64 64" fill="none" xmlns="http://www.w3.org/2000/svg">
    <circle cx="32" cy="32" r="31" stroke="white" stroke-width="2"/>
    <path d="M25.5303 32.5303C25.8232 32.2374 25.8232 31.7626 25.5303 31.4697L20.7574 26.6967C20.4645 26.4038 19.9896 26.4038 19.6967 26.6967C19.4038 26.9896 19.4038 27.4645 19.6967 27.7574L23.9393 32L19.6967 36.2426C19.4038 36.5355 19.4038 37.0104 19.6967 37.3033C19.9896 37.5962 20.4645 37.5962 20.7574 37.3033L25.5303 32.5303ZM1 32.75L25 32.75L25 31.25L1 31.25L1 32.75Z" fill="white"/>
</svg>
