<svg width="56" height="34" viewBox="0 0 56 34" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M47.0766 13.9129L47.1329 14.2734L47.4934 14.3297C51.9692 15.029 55.5 18.9102 55.5 23.5625C55.5 28.7074 51.2061 32.9062 46.0469 32.9062H9.95312C4.79389 32.9062 0.5 28.7074 0.5 23.5625C0.5 18.9498 3.97441 15.093 8.39719 14.348L8.82984 14.2751L8.81381 13.8366C8.81256 13.8025 8.8125 13.7653 8.8125 13.7188C8.8125 6.75788 14.4766 1.09375 21.4375 1.09375C25.9443 1.09375 29.9988 3.44915 32.2519 7.23572L32.5121 7.67306L32.9448 7.40516C34.4055 6.50072 36.0896 6.01562 37.8438 6.01562C42.5038 6.01562 46.3785 9.44491 47.0766 13.9129Z" fill="white" fill-opacity="0.4" />
    <path d="M47.0766 13.9129L47.1329 14.2734L47.4934 14.3297C51.9692 15.029 55.5 18.9102 55.5 23.5625C55.5 28.7074 51.2061 32.9062 46.0469 32.9062H9.95312C4.79389 32.9062 0.5 28.7074 0.5 23.5625C0.5 18.9498 3.97441 15.093 8.39719 14.348L8.82984 14.2751L8.81381 13.8366C8.81256 13.8025 8.8125 13.7653 8.8125 13.7188C8.8125 6.75788 14.4766 1.09375 21.4375 1.09375C25.9443 1.09375 29.9988 3.44915 32.2519 7.23572L32.5121 7.67306L32.9448 7.40516C34.4055 6.50072 36.0896 6.01562 37.8438 6.01562C42.5038 6.01562 46.3785 9.44491 47.0766 13.9129Z" stroke="url(#cloud0)" />
    <path d="M47.0766 13.9129L47.1329 14.2734L47.4934 14.3297C51.9692 15.029 55.5 18.9102 55.5 23.5625C55.5 28.7074 51.2061 32.9062 46.0469 32.9062H9.95312C4.79389 32.9062 0.5 28.7074 0.5 23.5625C0.5 18.9498 3.97441 15.093 8.39719 14.348L8.82984 14.2751L8.81381 13.8366C8.81256 13.8025 8.8125 13.7653 8.8125 13.7188C8.8125 6.75788 14.4766 1.09375 21.4375 1.09375C25.9443 1.09375 29.9988 3.44915 32.2519 7.23572L32.5121 7.67306L32.9448 7.40516C34.4055 6.50072 36.0896 6.01562 37.8438 6.01562C42.5038 6.01562 46.3785 9.44491 47.0766 13.9129Z" stroke="url(#cloud1)" />
    <defs>
        <radialGradient id="cloud0" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(-4.49162 9.52658) rotate(44.0758) scale(32.1677 1950.52)">
            <stop stop-color="#AA6EE5" />
            <stop offset="0.171998" stop-color="#CAFFFF" />
            <stop offset="0.689549" stop-color="#FDF074" stop-opacity="0" />
        </radialGradient>
        <radialGradient id="cloud1" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(58.6804 34.6888) rotate(-143.194) scale(29.4514 1873.14)">
            <stop stop-color="#AA6EE5" />
            <stop offset="0.171998" stop-color="#CAFFFF" />
            <stop offset="0.689549" stop-color="#FDF074" stop-opacity="0" />
        </radialGradient>
    </defs>
</svg>
