<svg width="135" height="65" viewBox="0 0 135 65" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M47.1979 15.806L30.7134 0L0 32.3224L30.7134 65L47.1979 48.8388L30.7134 32.3224L47.1979 15.806Z" fill="url(#cw0)" />
    <path d="M55.7005 15.8066L39.563 32.5006L71.3175 64.6454L87.455 47.7739L103.419 64.6454L135 32.5006L119.036 15.8066L103.419 32.5006L87.455 15.8066L71.3175 32.5006L55.7005 15.8066Z" fill="url(#cw1)" />
    <defs>
        <radialGradient id="cw0" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(4.51216 31.5956) scale(42.5713 7286.52)">
            <stop offset="0.115841" stop-color="#B0DCFF" />
            <stop offset="0.574479" stop-color="#CAFFFF" />
            <stop offset="1" stop-color="white" />
        </radialGradient>
        <radialGradient id="cw1" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(48.6868 39.5465) scale(86.0816 5474.84)">
            <stop offset="0.115841" stop-color="#B0DCFF" />
            <stop offset="0.574479" stop-color="#CAFFFF" />
            <stop offset="1" stop-color="white" />
        </radialGradient>
    </defs>
</svg>
