<svg width="107" height="45" viewBox="0 0 107 45" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path fill-rule="evenodd" clip-rule="evenodd" d="M0.703491 22.5033V44.8411H15.2027H29.7014V41.8717V38.9019H32.584H35.466V22.5033V6.10424H32.584H29.7014V3.1344V0.165039H15.2027H0.703491V22.5033ZM47.9563 3.48916V6.45852H45.1176H42.2788V22.6804V38.9019H45.1176H47.9563V41.8717V44.8411H56.6905H65.4246V41.8717V38.9019H68.3509H71.2767V31.2342V23.5666H68.3509H65.4246V20.6861V17.805H56.865H48.3054V12.265V6.72447H56.7343H65.1626V9.6055V12.4865H68.2197H71.2767V9.47277V6.45852H68.3509H65.4246V3.48916V0.519801H56.6905H47.9563V3.48916ZM95.2957 3.48916V6.45852H92.3699H89.4441V9.33955V12.2206H86.6054H83.7666V18.0266V23.8326H80.9283H78.0895V29.8606V35.8881H86.6929H95.2957V40.2243C95.2957 42.6095 95.3198 44.6239 95.3491 44.701C95.3958 44.825 95.7472 44.8411 98.4062 44.8411H101.41V43.4669C101.41 42.61 101.377 42.0933 101.323 42.0933C101.266 42.0933 101.235 40.9997 101.235 38.9907V35.8881H104.064C106.564 35.8881 106.9 35.872 106.947 35.7481C106.976 35.671 107 34.2548 107 32.6011V29.5946H104.117H101.235V15.0572V0.519801H98.2658H95.2957V3.48916ZM29.3519 22.5916V38.7247H17.9977H6.6431V22.5916V6.45852H17.9977H29.3519V22.5916ZM95.2957 21.0403V29.5946H89.6624H84.0286V26.8907V24.1873H86.8674H89.7062V18.3369V12.4865H92.5012H95.2957V21.0403ZM65.1626 31.2786V38.7247H56.7343H48.3054V31.2786V23.8326H56.7343H65.1626V31.2786Z" fill="url(#d64)" />
    <defs>
        <radialGradient id="d64" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(0.703491 22.0627) rotate(4.71193) scale(106.657 5559.62)">
            <stop offset="0.0121915" stop-color="#AA6EE5" />
            <stop offset="0.739976" stop-color="#B0DCFF" />
        </radialGradient>
    </defs>
</svg>
