<svg width="1024" height="2" viewBox="0 0 1024 2" fill="none" xmlns="http://www.w3.org/2000/svg">
    <rect width="1024" height="2" fill="url(#paint0_radial)"/>
    <defs>
        <radialGradient id="paint0_radial" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(4.52718e-06 1.00001) scale(1024 250.148)">
            <stop stop-color="#AA6EE5" stop-opacity="0"/>
            <stop offset="0.242468" stop-color="#CAFFFF"/>
            <stop offset="0.461231" stop-color="white"/>
            <stop offset="0.586239" stop-color="#FDF074"/>
            <stop offset="0.851879" stop-color="#FF966B"/>
            <stop offset="1" stop-color="#925E8C" stop-opacity="0"/>
        </radialGradient>
    </defs>
</svg>
