<svg width="107" height="25" viewBox="0 0 107 25" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M0 4.83732C0.00836984 9.33026 0.0167397 9.65921 0.142287 9.43456C0.401752 8.96922 1.20526 8.00645 1.87484 7.35658C3.00477 6.27346 4.40253 5.33476 5.75008 4.77314L6.40293 4.50838L6.42803 2.73527C6.45314 0.753562 6.42803 0.673331 5.884 0.272175L5.58268 0.0475283L0 -0.000610352V4.83732Z" fill="url(#paint0_radial)"/>
    <path d="M17.3254 4.51676C17.3171 7.99879 17.292 9.17818 17.1999 9.65957C16.8902 11.3524 15.5594 12.7404 13.785 13.2218C13.5423 13.286 12.7304 13.3662 11.9688 13.3983C10.7133 13.4545 10.5459 13.4786 10.119 13.6711C9.54987 13.9359 8.87191 14.5456 8.61245 15.027C8.26091 15.6849 8.20232 16.0781 8.20232 17.8833V19.5922L11.3661 19.5681C14.2537 19.536 14.5801 19.52 15.233 19.3675C17.6937 18.7738 19.7443 17.5463 21.2593 15.7732C22.3808 14.4574 23.0337 13.2138 23.494 11.5209L23.7116 10.7186L23.7451 5.84859C23.787 0.432995 23.8121 0.713804 23.2094 0.272533L22.9081 0.0478859L17.3254 -0.000252756V4.51676Z" fill="url(#paint1_radial)"/>
    <path d="M79.0617 2.02152C77.2538 2.2221 75.7891 2.88801 74.4499 4.10753C73.253 5.21471 72.6671 6.30586 72.3407 8.07896C72.2151 8.76093 72.19 9.39475 72.19 12.5238C72.19 15.6528 72.2151 16.2866 72.3407 16.9686C72.6587 18.6935 73.1944 19.7125 74.316 20.7876C74.7093 21.1646 75.1111 21.5257 75.2032 21.5899C75.8979 22.0953 77.0947 22.6329 78.0573 22.8655C78.7938 23.0501 80.1079 23.1223 81.0286 23.034C84.0919 22.7452 86.335 21.1887 87.4817 18.5652C87.8249 17.7789 87.8751 17.3858 87.6742 17.0167C87.4399 16.5835 87.2222 16.5353 85.4227 16.5353H83.7906L83.6902 16.8723C83.5479 17.4098 83.1127 18.1239 82.6942 18.525C81.3968 19.7686 78.8608 19.7606 77.5635 18.501C76.7432 17.6987 76.5423 16.9686 76.4168 14.353C76.308 12.275 76.4168 9.24231 76.626 8.31163C77.011 6.57062 78.2665 5.60785 80.1414 5.59982C81.7233 5.5918 82.8365 6.27376 83.4893 7.64572C83.6065 7.88641 83.7906 8.16722 83.9162 8.27954C84.1254 8.4721 84.1422 8.4721 86.1007 8.49617L88.0676 8.52023L88.009 8.14315C87.9755 7.93455 87.8416 7.43712 87.7077 7.03596C86.7284 4.17171 84.3681 2.35849 81.1625 2.02152C80.2669 1.92524 79.9154 1.92524 79.0617 2.02152Z" fill="url(#paint2_radial)"/>
    <path d="M97.9271 2.02128C96.4707 2.18976 95.1818 2.6872 94.01 3.53764C92.3528 4.73309 91.4823 6.22538 91.1894 8.35953C91.0136 9.62718 91.0136 15.4118 91.181 16.6634C91.4991 18.9179 92.3528 20.3461 94.1774 21.6298C96.5293 23.2986 100.087 23.5633 102.79 22.2636C103.485 21.9346 104.589 21.1403 105.05 20.6429C105.811 19.8246 106.364 18.8056 106.665 17.6984C106.941 16.6474 107 15.7247 107 12.5235C107 9.3223 106.941 8.39965 106.665 7.34862C106.23 5.744 105.393 4.52449 104.02 3.53764C102.606 2.51871 101.292 2.06942 99.4337 1.98116C98.9482 1.96512 98.2703 1.98116 97.9271 2.02128ZM100.279 5.78411C101.208 6.0569 102.012 6.787 102.363 7.68559C102.664 8.45581 102.773 9.75555 102.773 12.5235C102.773 16.2302 102.606 17.3133 101.861 18.2119C101.2 19.0142 100.254 19.4314 99.057 19.4475C97.4835 19.4635 96.1778 18.6692 95.6756 17.3695C95.3492 16.5431 95.2906 15.8531 95.2906 12.5235C95.2906 9.19393 95.3492 8.50395 95.6756 7.67757C96.3285 6.00074 98.287 5.1904 100.279 5.78411Z" fill="url(#paint3_radial)"/>
    <path d="M34.1405 2.1339C34.0233 2.19808 33.8475 2.35052 33.7638 2.47087C33.6132 2.68749 33.6048 3.04051 33.5797 12.8608L33.563 23.0341H35.2955C36.8941 23.0341 37.0615 23.018 37.3126 22.8736C37.8316 22.5688 37.8316 22.5688 37.8316 18.1801V14.2087H45.197V23.0421L48.7961 22.994L49.0639 22.7292L49.3401 22.4725L49.3819 2.01355H47.6494C46.1093 2.01355 45.8834 2.0296 45.6741 2.15797C45.1803 2.47087 45.2054 2.27029 45.197 6.60277V10.5983H37.8316V2.01355H36.099C34.7598 2.02158 34.3079 2.04564 34.1405 2.1339Z" fill="url(#paint4_radial)"/>
    <path d="M54.9816 2.13413C54.4543 2.40691 54.4878 1.62867 54.4878 12.845V23.0343L61.3092 23.0183L68.1306 22.9942L68.3985 22.7294L68.6747 22.4727L68.7249 19.4239H58.6727V14.2089H62.6316C66.9672 14.2089 66.8166 14.2249 67.0844 13.7275C67.1848 13.543 67.2099 13.1739 67.2099 12.0427V10.5985H58.6727V5.62418L63.4017 5.60813L68.1306 5.58406L68.3985 5.3193L68.6747 5.06256L68.7249 2.01378H61.962C56.2873 2.0218 55.1657 2.03785 54.9816 2.13413Z" fill="url(#paint5_radial)"/>
    <path d="M10.0271 5.4792C8.5959 5.5835 7.44923 5.8964 6.0682 6.54627C3.14713 7.94229 1.07141 10.4535 0.234428 13.6146C0.0502918 14.3207 0.041922 14.4009 0.041922 19.3191V24.3014L0.251168 24.518C0.67803 24.9593 0.703139 24.9673 3.58236 24.9593C5.03871 24.9593 6.28582 24.9593 6.34441 24.9593C6.41974 24.9593 6.44485 23.9965 6.44485 20.4263C6.44485 15.3316 6.46159 15.1069 7.014 14.088C7.57477 13.045 8.8721 12.0501 10.0104 11.7934C10.2364 11.7452 11.0399 11.6811 11.8015 11.649C13.124 11.5928 13.2077 11.5768 13.6848 11.3441C14.6222 10.8788 15.3001 10.0363 15.4759 9.12169C15.5261 8.85693 15.568 7.93427 15.568 7.05975V5.4792L14.5468 5.43106C13.3416 5.3749 11.065 5.39897 10.0271 5.4792Z" fill="url(#paint6_radial)"/>
    <path d="M23.5444 15.7251C23.1008 16.4632 21.9792 17.6747 20.9665 18.5011C20.1211 19.1831 18.4974 20.1218 17.5516 20.4587L17.3172 20.547L17.3675 24.3098L17.652 24.5906C17.8194 24.7511 18.0538 24.8955 18.1961 24.9196C18.3384 24.9436 19.6524 24.9677 21.1171 24.9757L23.7704 24.9998V20.202C23.7704 17.5704 23.762 15.4122 23.7536 15.4122C23.7369 15.4122 23.6448 15.5566 23.5444 15.7251Z" fill="url(#paint7_radial)"/>
    <defs>
        <radialGradient id="paint0_radial" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(17.0293 20.2065) rotate(-0.153952) scale(79.6985 12671.9)">
            <stop offset="0.0001" stop-color="white"/>
            <stop offset="0.0002" stop-color="#CAFFFF"/>
            <stop offset="0.0003" stop-color="#FDF074"/>
            <stop offset="0.357771" stop-color="#FF966B"/>
            <stop offset="0.85182" stop-color="#925E8C"/>
            <stop offset="1" stop-color="#AA6EE5"/>
        </radialGradient>
        <radialGradient id="paint1_radial" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(17.0293 20.2065) rotate(-0.153952) scale(79.6985 12671.9)">
            <stop offset="0.0001" stop-color="white"/>
            <stop offset="0.0002" stop-color="#CAFFFF"/>
            <stop offset="0.0003" stop-color="#FDF074"/>
            <stop offset="0.357771" stop-color="#FF966B"/>
            <stop offset="0.85182" stop-color="#925E8C"/>
            <stop offset="1" stop-color="#AA6EE5"/>
        </radialGradient>
        <radialGradient id="paint2_radial" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(17.0293 20.2065) rotate(-0.153952) scale(79.6985 12671.9)">
            <stop offset="0.0001" stop-color="white"/>
            <stop offset="0.0002" stop-color="#CAFFFF"/>
            <stop offset="0.0003" stop-color="#FDF074"/>
            <stop offset="0.357771" stop-color="#FF966B"/>
            <stop offset="0.85182" stop-color="#925E8C"/>
            <stop offset="1" stop-color="#AA6EE5"/>
        </radialGradient>
        <radialGradient id="paint3_radial" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(17.0293 20.2065) rotate(-0.153952) scale(79.6985 12671.9)">
            <stop offset="0.0001" stop-color="white"/>
            <stop offset="0.0002" stop-color="#CAFFFF"/>
            <stop offset="0.0003" stop-color="#FDF074"/>
            <stop offset="0.357771" stop-color="#FF966B"/>
            <stop offset="0.85182" stop-color="#925E8C"/>
            <stop offset="1" stop-color="#AA6EE5"/>
        </radialGradient>
        <radialGradient id="paint4_radial" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(17.0293 20.2065) rotate(-0.153952) scale(79.6985 12671.9)">
            <stop offset="0.0001" stop-color="white"/>
            <stop offset="0.0002" stop-color="#CAFFFF"/>
            <stop offset="0.0003" stop-color="#FDF074"/>
            <stop offset="0.357771" stop-color="#FF966B"/>
            <stop offset="0.85182" stop-color="#925E8C"/>
            <stop offset="1" stop-color="#AA6EE5"/>
        </radialGradient>
        <radialGradient id="paint5_radial" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(17.0293 20.2065) rotate(-0.153952) scale(79.6985 12671.9)">
            <stop offset="0.0001" stop-color="white"/>
            <stop offset="0.0002" stop-color="#CAFFFF"/>
            <stop offset="0.0003" stop-color="#FDF074"/>
            <stop offset="0.357771" stop-color="#FF966B"/>
            <stop offset="0.85182" stop-color="#925E8C"/>
            <stop offset="1" stop-color="#AA6EE5"/>
        </radialGradient>
        <radialGradient id="paint6_radial" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(17.0293 20.2065) rotate(-0.153952) scale(79.6985 12671.9)">
            <stop offset="0.0001" stop-color="white"/>
            <stop offset="0.0002" stop-color="#CAFFFF"/>
            <stop offset="0.0003" stop-color="#FDF074"/>
            <stop offset="0.357771" stop-color="#FF966B"/>
            <stop offset="0.85182" stop-color="#925E8C"/>
            <stop offset="1" stop-color="#AA6EE5"/>
        </radialGradient>
        <radialGradient id="paint7_radial" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(17.0293 20.2065) rotate(-0.153952) scale(79.6985 12671.9)">
            <stop offset="0.0001" stop-color="white"/>
            <stop offset="0.0002" stop-color="#CAFFFF"/>
            <stop offset="0.0003" stop-color="#FDF074"/>
            <stop offset="0.357771" stop-color="#FF966B"/>
            <stop offset="0.85182" stop-color="#925E8C"/>
            <stop offset="1" stop-color="#AA6EE5"/>
        </radialGradient>
    </defs>
</svg>
