<svg width="56" height="56" viewBox="0 0 56 56" fill="none" xmlns="http://www.w3.org/2000/svg">
    <g clip-path="url(#clip0)">
        <path d="M41.335 21V21.665H42H43.75C46.2763 21.665 48.335 23.7218 48.335 26.25V50.75C48.335 53.2782 46.2763 55.335 43.75 55.335H12.25C9.72374 55.335 7.665 53.2782 7.665 50.75V26.25C7.665 23.7218 9.72374 21.665 12.25 21.665H14H14.665V21V14C14.665 6.64627 20.6463 0.665 28 0.665C35.3537 0.665 41.335 6.64627 41.335 14V21ZM37.3333 21.665H37.9983V21V14C37.9983 8.4854 33.5146 4.00167 28 4.00167C22.4854 4.00167 18.0017 8.4854 18.0017 14V21V21.665H18.6667H37.3333ZM30.9983 44.3333V39.3838C32.3962 38.4279 33.3317 36.8313 33.3317 35C33.3317 32.0591 30.9409 29.6683 28 29.6683C25.0591 29.6683 22.6683 32.0591 22.6683 35C22.6683 36.8313 23.6038 38.4279 25.0017 39.3838V44.3333C25.0017 45.9882 26.342 47.3317 28 47.3317C29.658 47.3317 30.9983 45.9882 30.9983 44.3333Z" fill="white" fill-opacity="0.4" />
        <path d="M41.335 21V21.665H42H43.75C46.2763 21.665 48.335 23.7218 48.335 26.25V50.75C48.335 53.2782 46.2763 55.335 43.75 55.335H12.25C9.72374 55.335 7.665 53.2782 7.665 50.75V26.25C7.665 23.7218 9.72374 21.665 12.25 21.665H14H14.665V21V14C14.665 6.64627 20.6463 0.665 28 0.665C35.3537 0.665 41.335 6.64627 41.335 14V21ZM37.3333 21.665H37.9983V21V14C37.9983 8.4854 33.5146 4.00167 28 4.00167C22.4854 4.00167 18.0017 8.4854 18.0017 14V21V21.665H18.6667H37.3333ZM30.9983 44.3333V39.3838C32.3962 38.4279 33.3317 36.8313 33.3317 35C33.3317 32.0591 30.9409 29.6683 28 29.6683C25.0591 29.6683 22.6683 32.0591 22.6683 35C22.6683 36.8313 23.6038 38.4279 25.0017 39.3838V44.3333C25.0017 45.9882 26.342 47.3317 28 47.3317C29.658 47.3317 30.9983 45.9882 30.9983 44.3333Z" stroke="url(#lock0)" stroke-width="1.33" />
        <path d="M41.335 21V21.665H42H43.75C46.2763 21.665 48.335 23.7218 48.335 26.25V50.75C48.335 53.2782 46.2763 55.335 43.75 55.335H12.25C9.72374 55.335 7.665 53.2782 7.665 50.75V26.25C7.665 23.7218 9.72374 21.665 12.25 21.665H14H14.665V21V14C14.665 6.64627 20.6463 0.665 28 0.665C35.3537 0.665 41.335 6.64627 41.335 14V21ZM37.3333 21.665H37.9983V21V14C37.9983 8.4854 33.5146 4.00167 28 4.00167C22.4854 4.00167 18.0017 8.4854 18.0017 14V21V21.665H18.6667H37.3333ZM30.9983 44.3333V39.3838C32.3962 38.4279 33.3317 36.8313 33.3317 35C33.3317 32.0591 30.9409 29.6683 28 29.6683C25.0591 29.6683 22.6683 32.0591 22.6683 35C22.6683 36.8313 23.6038 38.4279 25.0017 39.3838V44.3333C25.0017 45.9882 26.342 47.3317 28 47.3317C29.658 47.3317 30.9983 45.9882 30.9983 44.3333Z" stroke="url(#lock1)" stroke-width="1.33" />
    </g>
    <defs>
        <radialGradient id="lock0" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(3.63128 15.2454) rotate(65.5884) scale(41.9379 1915.03)">
            <stop stop-color="#AA6EE5" />
            <stop offset="0.171998" stop-color="#CAFFFF" />
            <stop offset="0.689549" stop-color="#FDF074" stop-opacity="0" />
        </radialGradient>
        <radialGradient id="lock1" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(51.0103 58.1889) rotate(-120.426) scale(34.9227 2021.99)">
            <stop stop-color="#AA6EE5" />
            <stop offset="0.171998" stop-color="#CAFFFF" />
            <stop offset="0.689549" stop-color="#FDF074" stop-opacity="0" />
        </radialGradient>
        <clipPath id="clip0">
            <rect width="56" height="56" fill="white" />
        </clipPath>
    </defs>
</svg>
    