<svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M31.6338 3.34841L31.6343 3.34892C32.4341 4.25245 32.934 5.18692 33.1847 6.25518C33.437 7.33039 33.4435 8.569 33.2143 10.0879L33.2143 10.0879L33.2118 10.1033L33.2025 10.1602C33.1987 10.1831 33.1942 10.2102 33.1892 10.2403C33.1836 10.2738 33.1774 10.3109 33.1708 10.3502C33.1451 10.5015 33.1143 10.6774 33.0909 10.7944L33.0906 10.7962C32.2842 14.9037 30.5162 17.6122 28.118 19.3043C25.7087 21.0041 22.6038 21.72 19.0537 21.72H15.3787C14.3853 21.72 13.5228 22.3533 13.2118 23.2619L13.1774 23.2565L13.1772 23.258L11.3019 35.06H3.99373C3.63618 35.06 3.37146 34.7449 3.42505 34.4058C3.42506 34.4058 3.42507 34.4057 3.42508 34.4057L8.64219 1.58011C8.64223 1.57985 8.64227 1.57959 8.64231 1.57933C8.74307 0.960979 9.28241 0.5 9.92115 0.5H22.4511C26.7331 0.5 29.9173 1.40397 31.6338 3.34841Z" fill="white" fill-opacity="0.4" />
    <path d="M31.6338 3.34841L31.6343 3.34892C32.4341 4.25245 32.934 5.18692 33.1847 6.25518C33.437 7.33039 33.4435 8.569 33.2143 10.0879L33.2143 10.0879L33.2118 10.1033L33.2025 10.1602C33.1987 10.1831 33.1942 10.2102 33.1892 10.2403C33.1836 10.2738 33.1774 10.3109 33.1708 10.3502C33.1451 10.5015 33.1143 10.6774 33.0909 10.7944L33.0906 10.7962C32.2842 14.9037 30.5162 17.6122 28.118 19.3043C25.7087 21.0041 22.6038 21.72 19.0537 21.72H15.3787C14.3853 21.72 13.5228 22.3533 13.2118 23.2619L13.1774 23.2565L13.1772 23.258L11.3019 35.06H3.99373C3.63618 35.06 3.37146 34.7449 3.42505 34.4058C3.42506 34.4058 3.42507 34.4057 3.42508 34.4057L8.64219 1.58011C8.64223 1.57985 8.64227 1.57959 8.64231 1.57933C8.74307 0.960979 9.28241 0.5 9.92115 0.5H22.4511C26.7331 0.5 29.9173 1.40397 31.6338 3.34841Z" stroke="url(#paypal0_radial)" />
    <path d="M31.6338 3.34841L31.6343 3.34892C32.4341 4.25245 32.934 5.18692 33.1847 6.25518C33.437 7.33039 33.4435 8.569 33.2143 10.0879L33.2143 10.0879L33.2118 10.1033L33.2025 10.1602C33.1987 10.1831 33.1942 10.2102 33.1892 10.2403C33.1836 10.2738 33.1774 10.3109 33.1708 10.3502C33.1451 10.5015 33.1143 10.6774 33.0909 10.7944L33.0906 10.7962C32.2842 14.9037 30.5162 17.6122 28.118 19.3043C25.7087 21.0041 22.6038 21.72 19.0537 21.72H15.3787C14.3853 21.72 13.5228 22.3533 13.2118 23.2619L13.1774 23.2565L13.1772 23.258L11.3019 35.06H3.99373C3.63618 35.06 3.37146 34.7449 3.42505 34.4058C3.42506 34.4058 3.42507 34.4057 3.42508 34.4057L8.64219 1.58011C8.64223 1.57985 8.64227 1.57959 8.64231 1.57933C8.74307 0.960979 9.28241 0.5 9.92115 0.5H22.4511C26.7331 0.5 29.9173 1.40397 31.6338 3.34841Z" stroke="url(#paypal1_radial)" />
    <path d="M19.7026 38.5918L19.7012 38.5992L19.7 38.6066C19.6189 39.1183 19.1733 39.4998 18.6438 39.4998H13.884L16.186 24.9298H19.0538C23.6781 24.9298 27.4981 23.8139 30.3991 21.5988C33.0374 19.5844 34.8749 16.692 35.8772 13.0036C36.6558 14.5351 36.7738 16.5115 36.3082 18.8835C35.6056 22.4635 34.0663 24.817 31.984 26.2859C29.8907 27.7626 27.189 28.3873 24.0913 28.3873H23.1138C22.1029 28.3873 21.2358 29.1175 21.0737 30.1164L20.995 30.5348L20.9948 30.5348L20.9925 30.5487L19.7637 38.269L19.7026 38.5918Z" fill="white" fill-opacity="0.4" />
    <path d="M19.7026 38.5918L19.7012 38.5992L19.7 38.6066C19.6189 39.1183 19.1733 39.4998 18.6438 39.4998H13.884L16.186 24.9298H19.0538C23.6781 24.9298 27.4981 23.8139 30.3991 21.5988C33.0374 19.5844 34.8749 16.692 35.8772 13.0036C36.6558 14.5351 36.7738 16.5115 36.3082 18.8835C35.6056 22.4635 34.0663 24.817 31.984 26.2859C29.8907 27.7626 27.189 28.3873 24.0913 28.3873H23.1138C22.1029 28.3873 21.2358 29.1175 21.0737 30.1164L20.995 30.5348L20.9948 30.5348L20.9925 30.5487L19.7637 38.269L19.7026 38.5918Z" stroke="url(#paypal2_radial)" />
    <path d="M19.7026 38.5918L19.7012 38.5992L19.7 38.6066C19.6189 39.1183 19.1733 39.4998 18.6438 39.4998H13.884L16.186 24.9298H19.0538C23.6781 24.9298 27.4981 23.8139 30.3991 21.5988C33.0374 19.5844 34.8749 16.692 35.8772 13.0036C36.6558 14.5351 36.7738 16.5115 36.3082 18.8835C35.6056 22.4635 34.0663 24.817 31.984 26.2859C29.8907 27.7626 27.189 28.3873 24.0913 28.3873H23.1138C22.1029 28.3873 21.2358 29.1175 21.0737 30.1164L20.995 30.5348L20.9948 30.5348L20.9925 30.5487L19.7637 38.269L19.7026 38.5918Z" stroke="url(#paypal3_radial)" />
    <defs>
        <radialGradient id="paypal0_radial" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(0.434554 9.6808) rotate(62.2148) scale(27.4102 1371.6)">
            <stop stop-color="#AA6EE5" />
            <stop offset="0.171998" stop-color="#CAFFFF" />
            <stop offset="0.689549" stop-color="#FDF074" stop-opacity="0" />
        </radialGradient>
        <radialGradient id="paypal1_radial" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(35.3623 36.95) rotate(-124.287) scale(23.1438 1428.27)">
            <stop stop-color="#AA6EE5" />
            <stop offset="0.171998" stop-color="#CAFFFF" />
            <stop offset="0.689549" stop-color="#FDF074" stop-opacity="0" />
        </radialGradient>
        <radialGradient id="paypal2_radial" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(11.3912 19.446) rotate(62.9966) scale(21.6163 1061.04)">
            <stop stop-color="#AA6EE5" />
            <stop offset="0.171998" stop-color="#CAFFFF" />
            <stop offset="0.689549" stop-color="#FDF074" stop-opacity="0" />
        </radialGradient>
        <radialGradient id="paypal3_radial" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(38.2202 41.1037) rotate(-123.402) scale(18.1918 1108.52)">
            <stop stop-color="#AA6EE5" />
            <stop offset="0.171998" stop-color="#CAFFFF" />
            <stop offset="0.689549" stop-color="#FDF074" stop-opacity="0" />
        </radialGradient>
    </defs>
</svg>
    