<svg width="20" height="145" viewBox="0 0 20 145" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M1.38179 1.00001L1.38154 144.5L18.8818 144.5" stroke="url(#understanding-line-left)" stroke-linecap="round" />
    <defs>
        <radialGradient id="understanding-line-left" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(-29.3087 55.4509) rotate(29.4072) scale(85.7056 15635.6)">
            <stop stop-color="#AA6EE5" stop-opacity="0" />
            <stop offset="0.242468" stop-color="#CAFFFF" />
            <stop offset="0.461231" stop-color="white" />
            <stop offset="0.586239" stop-color="#FDF074" />
            <stop offset="0.851879" stop-color="#FF966B" />
            <stop offset="1" stop-color="#925E8C" stop-opacity="0" />
        </radialGradient>
    </defs>
</svg>
