<svg width="19" height="144" viewBox="0 0 19 144" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M17.9998 -0.000109482L18 143.5L0.499755 143.5" stroke="url(#understanding-line-right)" />
    <defs>
        <radialGradient id="understanding-line-right" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(48.6903 54.4507) rotate(150.593) scale(85.7056 15635.6)">
            <stop stop-color="#AA6EE5" stop-opacity="0" />
            <stop offset="0.242468" stop-color="#CAFFFF" />
            <stop offset="0.461231" stop-color="white" />
            <stop offset="0.586239" stop-color="#FDF074" />
            <stop offset="0.851879" stop-color="#FF966B" />
            <stop offset="1" stop-color="#925E8C" stop-opacity="0" />
        </radialGradient>
    </defs>
</svg>