mixin understanding(data, i)
    .understanding-box(class=`understanding-box--${++i}`).noise-box
        .understanding-box__inner.noise-box__inner
            h3.understanding-box__title= data
            if (i === 3)
                .understanding-box__divider.understanding-box__divider--left
                    include ../../svg/understanding-line-left
                .understanding-box__divider.understanding-box__divider--right
                    include ../../svg/understanding-line-right