.accessing-oracle
    img.accessing-oracle__line(src="./img/token-line.svg", alt="line")
    .accessing-oracle__img: img.img-fluid(src="./img/sbs-3.png", alt="oracle")
    img.accessing-oracle__line(src="./img/token-line.svg", alt="line")
    p.accessing-oracle__descr Oracle