a.arr-login(href="#") Log in
    span.arr-login__svg
        span.arr-login__arrow
            include ../svg/arrow
        span.arr-login__ellipse
            include ../svg/ellipse
        span.arr-login__ellipse-hover
            include ../svg/ellipse-gradient