-
    let accessing  = [
        {
            title: 'Dezentralized Oracle',
            descr: 'Initially, Structure will integrate with decentralized oracle service providers to get external price data for the structured products.',
        },
        {
            title: 'Offchain Workers',
            descr: 'As Substrate ecosystem is more mature, Structure will use offchain workers module for obtaining external data.',
        },
        {
            title: 'Other Protocols',
            descr: 'Structure will also support other DeFi protocols and receive price data directly from thode platforms such as Uniswap.',
        }
    ]