-
    let distribution  = [
        {
            value: '18.6%',
            descr: 'Token Sales'
        },
        {
            value: '8%',
            descr: 'Marketing'
        },
        {
            value: '36%',
            descr: 'Ecosystem Growth'
        },
        {
            value: '6%',
            descr: 'Advisors'
        },
        {
            value: '10.6%',
            descr: 'Liquidity Provider'
        },
        {
            value: '20%',
            descr: 'Team & Reserve'
        }
    ]