-
    let roadmap  = [
        {
            title: 'Q2 2021',
            descr: 'Production release on Binance Smart Chain',
            img: 'roadmap1.png'
        },
        {
            title: 'Q3 2021',
            descr: 'Deploy new payoffs:',
            list: ['principal protected', 'cryptocurrency accumulator', 'knockout / knock-in barries'],
            img: 'roadmap2.png'
        },
        {
            title: 'Q3 2021',
            descr: 'First version of DAO governance',
            img: 'roadmap3.png'
        },
        {
            title: 'Q4 2021',
            descr: 'External hedgers:',
            list: ['pricing / hedding toolset', 'incentives for external hedgers'],
            img: 'roadmap4.png'
        },
        {
            title: 'Q3 2021',
            descr: 'Update DAO governance',
            img: 'roadmap5.png'
        }
    ]