-
    let sbsTokens  = [
        {
            title: 'Platform Currency',
            descr: 'SBS is the default currency in the Structure platforms. Users could use SBS for transaction fees and also for purchasing option products. The transaction fees will be collected and contributed to the reserve, and further on allocated through decentralized governance.',
            img: 'sbs-1.png'
        },
        {
            title: 'User Incentives',
            descr: 'To encourage users to deposit assets and incentivize a positive feedback loop, there will be token incentives given in SBS. it is important for the platform to have initial liquidity to enable the option products to have more accurate pricing and better profitability.',
            img: 'sbs-2.png'
        },
        {
            title: 'Governance',
            descr: 'SBS implements decentralized governance for the platform development. The token holders collectively decide on the platform governance. In terms of fee ratio setup and different protocol support. ',
            img: 'sbs-3.png'
        }
    ]