-
    let team  = [
        {
            name: 'Serge Levin',
            descr: 'Serge has nearly 20 years of experience in managing structured product issuance, trading and sales. Previously, he was a quantitative trader at Point72 and managed structured product portfolios at Nomura, Citi Bank and Morgan Stanley. He holds a PhD in Biophysics from the Albert Einstein College of Medicine.',
            img: 'team-1.png'
        },
        {
            name: 'Kent Osband',
            descr: 'Kent has 30 years of experience in monitoring strategic risks for major investment firms, international financial institutions and think tanks, including Fortress Investment Group, Goldman Sachs and the International Monetary Fund. He graduated magna cum laude from Harvard, holds a PhD in economics from UC Berkeley, and is the author of three books on financial portfolio risk.',
            img: 'team-2.png'
        },
        {
            name: 'Evelina Lavrova',
            descr: 'Evelina has about 15 years experience in Business Development and Marketing. Prior to joining Structure, Evelina was a Global Marketing and PR of Waves and Gett. Evelina was featured in Forbes and Thrive Global. In 2017, she was nominated in Top 10 Women In Crypto by Core Magazine.',
            img: 'team-3.png'
        }
    ]