section.hero
    .hero__inner.l-wrap
        .hero__content
            h1.hero__title STRUCTURE
            p.hero__descr Structure is a decentralized blockchain-based platform for structured financial products
            include ../components/arr-login
            ul.hero__brands
                li.hero__brand
                    include ../svg/chromia
                li.hero__brand
                    include ../svg/ethereum
                li.hero__brand
                    include ../svg/binance
                li.hero__brand
                    include ../svg/heco
        .hero__svg
            include ../svg/hero
    include ../components/divider