section.no-touch
    .no-touch__inner.l-wrap
        .no-touch__info
            .no-touch__title.h2 Double No-Touch Options
            p In Structure, the double no touch options support major cryptocurrencies. Users can purchase the DNT token, and that given the price touched the barrier, the token price will goes to zero and otherwise users could profit from the DNT. The validity of the DNT is only for a limited period of time and that when that time period ends, the DNT token price will be reset and tat a new cycle begins.
        .no-touch__data: img.img-fluid(src="./img/no-touch.png" alt="cryptocurrencies data")
        .no-touch__circle: img(src="./img/no-touch-circle.png" alt="circle")
        .no-touch__crystal: img(src="./img/no-touch-crystal.png" alt="crystal")