section.partners
    .partners__inner.l-wrap
        .partners__title.h2 Partners
        .partners__brands
            .partners__brand: include ../svg/1010
            .partners__brand: include ../svg/kyros
            .partners__brand: include ../svg/asymm
            .partners__brand: include ../svg/angels
            .partners__brand: include ../svg/d64
            .partners__brand: include ../svg/coin98
            .partners__brand: include ../svg/ngc
            .partners__brand: include ../svg/arpa
            .partners__brand: include ../svg/ascendex
            .partners__brand: include ../svg/cw