section.partners
    .partners__inner.l-wrap
        .partners__title.h2 Partners
        .partners__brands
            .partners__brand.noise-box: .partners__logo.noise-box__inner:  include ../svg/1010
            .partners__brand.noise-box: .partners__logo.noise-box__inner:  include ../svg/kyros
            .partners__brand.noise-box: .partners__logo.noise-box__inner:  include ../svg/asymm
            .partners__brand.noise-box: .partners__logo.noise-box__inner:  include ../svg/angels
            .partners__brand.noise-box: .partners__logo.noise-box__inner:  include ../svg/d64
            .partners__brand.noise-box: .partners__logo.noise-box__inner:  include ../svg/coin98
            .partners__brand.noise-box: .partners__logo.noise-box__inner:  include ../svg/ngc
            .partners__brand.noise-box: .partners__logo.noise-box__inner:  include ../svg/arpa
            .partners__brand.noise-box: .partners__logo.noise-box__inner:  include ../svg/ascendex
            .partners__brand.noise-box: .partners__logo.noise-box__inner:  include ../svg/cw
            .partners__brand.noise-box: .partners__logo.noise-box__inner:  include ../svg/x21
            .partners__brand.noise-box: .partners__logo.noise-box__inner:  include ../svg/ex