section.roadmap
    .roadmap__inner.l-wrap
        .roadmap__header
            .roadmap__title.h2 Roadmap
            p.roadmap__descr Loram ipsum dolor si amet Loram ipsum dolor si amet Loram ipsum dolor si amet Loram ipsum dolor si amet
            include ../components/divider
        .roadmap__swiper.swiper-container#roadmap-swiper
            .swiper-wrapper
                each data in roadmap
                    .swiper-slide
                        +roadmap-box(data)
            