section.structure
    .structure__inner.l-wrap
        .structure__info
            h2.structure__title.h2 What is Structure?
            .structure__box
                h3.h3 Built on Ethereum and BSC with Layer 2 Scaling
                p Structure chose ETH and BSC for compatibility with other DeFi protocols. It also chose  layer 2 protocols to provide better user experience for trading.
            .structure__box
                h3.h3 Palette for Users to Create Structured Products
                p The beauty of DeFi applications as compared to traditional finance is that all the protocols are permissionless and open source. Structure will support major DeFi protocols for user created applications. 
            .structure__box
                h3.h3 More Product Options for DeFi Users
                p Structure offers structured products like double no-touch options and straddle options to give DeFi traders more options.
        .structure__points
            .structure__svg
                include ../svg/structure
            .structure__point.structure__point--1 Basic Financial Instrument
            .structure__point.structure__point--2 Derivatives
            .structure__point.structure__point--3 Structured Product
