section.understanding
    .understanding__inner.l-wrap
        .understanding__info
            h2.understanding__title.h2 Understanding Structured Financial Products
            p Structured financial products offer user more varieties for different risk appetite without requiring much expertise in financial product design  
            p Structured financial products are invented in order to offer a simplified user experience for the retail investors
            p By packaging interest rate products together with derivatives, there is more variety of products that retail users could choose from based on their preference
        .understanding__boxes
            - for (let i = 0; i < understandigList.length; i++)
                +understanding(understandigList[i], i)
                if (i == 1)
                    include ../components/divider
        .understanding__circle: img(src="./img/un_circle.png" alt="circle")
        .understanding__crystal: img(src="./img/un_crystal.png" alt="crystal")